@charset "UTF-8";

/*
복사해서 쓰기
<link type="text/css" rel="stylesheet" href="boardcss.css">
<link type="text/css" rel="stylesheet" href="board2/boardcss.css">
*/


*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	border-collapse: collapse;	
	box-sizing: border-box;
}

.container div{
	display: inline-block;
}
.content{
	text-align:center;
	margin: 0 auto;
}
	
.title div{
	display: inline-block;
	
}
.title{
	text-align: left;
	margin: 0 auto;
	margin-bottom: 20px;
}

h1, .list{
	text-align:center;
}

.list{
	margin: 0 auto;
}

.sch{
	margin: 0 auto;
	width: 690px;
	margin-top: 20px;
}

.sch .btn{
	width: 70px
}

tr{
	height: 40px;
}

a:hover{
	color: #a828a8;
}

input, select{
	border-radius: 5px;
	border:1px solid;
	height: 30px;
	outline-color: #787878;
	}
	
input[type=text], input[type=email], input[type=password]{
	width: 200px;
	height: 30px;
	}
input[type=button], input[type=submit]{
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #bdbdbd;
	background: #fafafa;
	font-size: 12px;
} 
input:focus, select:focus{
	outline-color: #646464;
	}
	

user_wrap{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; /*수평 정렬*/
	align-items: center;
	justify-content: space-between;
}
	
.user{
	margin-right: 10px;
	text-align: right;
}